<div class="format-actions">
  <button class="format-action" type="button"
          [class.active]="currentWord?.format.bold"
          (click)="updateFormat('bold')"
  ><b>B</b></button>

  <button class="format-action" type="button"
          [class.active]="currentWord?.format.italic"
          (click)="updateFormat('italic')"
  ><i>I</i></button>

  <button class="format-action" type="button"
          [class.active]="currentWord?.format.underline"
          (click)="updateFormat('underline')"
  ><u>U</u></button>
</div>
